<div class="form-horizontal"> 
	<div class="control-group">
		<label for="Datasource" class="control-label">Datasource</label>
		<div class="controls">
			<select class="field" id="Datasource" data-name="datasource_id">
				{{#datasources}}
				<option value="{{id}}" {{selected}}>{{name}}</option>
				{{/datasources}}
			</select>
		</div>

	</div>
	<div class="control-group">
		<label for="WidgetType" class="control-label">Widget Type</label>
		<div class="controls">
			<select class="field" id="WidgetType" data-name="widgettype_id">
				{{#widgettypes}}
				<option value="{{id}}" {{selected}}>{{name}}</option>
				{{/widgettypes}}
			</select>
		</div>

	</div>
	<div class="control-group nledit3 dep_redirect1"> 
		<div class="controls">
			<buttton class="btn btn-success dsedit"><i class="icon-cloud-download"></i> Datasource Settings</button>
		 
		</div>
	</div>
	<div class="control-group nledit3 dep_redirect1"> 
		<div class="controls">
			<buttton class="btn btn-success wsedit"><i class="icon-pencil"></i> Widget Settings</button>
			</div>
		</div>

	</div>
</div> 